{% extends "ICAPReferenceBundle::base.html.twig" %}

    {% block toolbar %}
    	<input type="button" class="spiral-button blue" id="new_button" value="Create new reference" />
    {% endblock %}

	{% block content %}
		<div class="reference_list">

			{% for i in 0..10 %}

			<div class="reference_box">
				<div style="float:left;height:120px;"><input type="checkbox" /></div>
				<div style="float:left; border: #eee 1px solid;">
					<img src="{{ asset('bundles/icapreference/images/disc.png') }}" width="120" />
				</div>
				<div style="float:left;padding: 10px;">
					<a class="reference_title" href="./view?id=99">Justin Bieber</a><br/>
					<span class="subtitle">I've just got hair on my d***</span><br/>
					<span>1666</span> - <span>myMajorCompany</span><br />
					<a class="reference_link" href="#">http://thisisabigjook/justin.com</a>

				</div>
				<div style="clear:both;"></div>
			</div>

			{% endfor %}

		</div>
	{% endblock %}