{% extends "ICAPReferenceBundle::base.html.twig" %}

    {% block toolbar %}
    	<a href="{{ path('icap_reference_new') }}" class="spiral-button blue">Create new reference</a>
    {% endblock %}

	{% block content %}
		<div class="reference_list">

			{% if references %}

			{% for reference in references %}

			<div class="reference_box">
				<div style="float:left;height:120px;"><input type="checkbox" /></div>
				<div style="float:left; border: #eee 1px solid;">
					<img src="{{ asset('bundles/icapreference/images/disc.png') }}" width="120" />
				</div>
				<div style="float:left;padding: 10px;">
					<a class="reference_title" href="#">{{ reference.title }}</a><br/>
					<span class="subtitle">I've just got hair on my d***</span><br/>
					<span>1666</span> - <span>myMajorCompany</span><br />
					<a class="reference_link" href="#">http://thisisabigjook/justin.com</a>

				</div>
				<div style="clear:both;"></div>
			</div>

			{% endfor %}

			{% else %}

			no reference yet!

			{% endif %}

		</div>
	{% endblock %}