{% extends "ICAPReferenceBundle::base.html.twig" %}

    {% block toolbar %}
    	<a href="{{ path('icap_reference_list') }}" class="spiral-button grey">&laquo; Back to list</a>
    	<a href="#" class="spiral-button blue">Edit</a>
    	<a href="#" class="spiral-button red">Delete</a>
    {% endblock %}

	{% block content %}
		<div class="reference_new">

			<div class="reference_box">
				<div style="float:left; border: #eee 1px solid;">
					<img src="{{ asset('bundles/icapreference/images/disc.png') }}" width="120" />
				</div>
				<div style="float:left;padding: 10px;">
					<span class="title">Justin Bieber</span><br/>
					<span class="subtitle">I've just got hair on my d***</span><br/>
					<span>1666</span> - <span>myMajorCompany</span><br />
					<a href="#">http://thisisabigjook/justin.com</a>

				</div>
				<div style="clear:both;"></div>
			</div>

		</div>
	{% endblock %}